---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const ideas = await getCollection("ideas");

  return ideas
    .filter((i) => !i.data.draft)
    .map((i) => ({
      params: { slug: i.slug },
    }));
}

const { slug } = Astro.params;

const entry = await getEntry("ideas", slug);

if (!entry || entry.data.draft) {
  throw new Error("Not found");
}

const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title}>
  <div class="pill">{entry.data.date.toDateString()}</div>

  <h1 style="margin: 10px 0 8px;">
    {entry.data.title}
  </h1>

  <p>{entry.data.summary}</p>

  {entry.data.tags && (
    <div style="display:flex; gap:8px; flex-wrap:wrap; margin-bottom:18px;">
      {entry.data.tags.map(tag => (
        <span class="pill">{tag}</span>
      ))}
    </div>
  )}

  <article class="card">
    <Content />
  </article>
</BaseLayout>
