---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const ideas = (await getCollection("ideas"))
  .filter(i => !i.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout title="Ideas">
  <h1>Ideas & Inventions</h1>

  {ideas.map((idea) => (
    <div class="card">
      <h2>
        <a href={`/ideas/${idea.slug}`}>{idea.data.title}</a>
      </h2>
      <div class="meta">
        {idea.data.status} — {idea.data.date.toDateString()}
      </div>
      <p>{idea.data.summary}</p>
    </div>
  ))}
</BaseLayout>

